<section class="content inner">
    <div class="row">
        <div class="4u 12u$(medium)">
            <span class="image fit"><img src="{% link images/guests/lucheroni.jpg %}" alt="" /></span>
            <h2>Eleonora Lucheroni</h2>
            <p>Producer and Business Development Manager in the video game development industry. Since 2021, she has been part of Ubisoft, where she oversees large-scale international projects.</p>
        </div>
        <div class="4u 12u$(medium)">
            <span class="image fit"><img src="{% link images/guests/sassone-new.jpg %}" alt="" /></span>
            <h2>Gabriel Sassone</h2>
            <p>Principal Rendering Engineer, now at AMD, he worked at studios such as The Multiplayer Group, Avalanche Studios, Ready At Dawn, Codemasters, and others.</p>
        </div>
        <div class="4u$ 12u$(medium)">
            <span class="image fit"><img src="{% link images/guests/gabrieli.jpg %}" alt="" /></span>
            <h2>Maurizio Gabrieli</h2>
            <p>Professor of Composition at Conservatorio Santa Cecilia, president of the Applied Music School, he coordinates the Master on Music for Videogames.</p>
        </div>
    </div>
</section>