<section class="content inner">
    <div class="row">
        <div class="4u 12u$(medium)">
            <span class="image fit"><img src="{% link images/guests/bianchi.jpg %}" alt="" /></span>
            <h2>Carlo Ivo Alimo Bianchi</h2>
            <p>CEO and Game Director of Storm in a Teacup, he was Senior and Lead Artist at Ubisoft, Square Enix, Warner Bros Games, Crytek and others.</p>
        </div>
        <div class="4u 12u$(medium)">
            <span class="image fit"><img src="{% link images/guests/sassone-new.jpg %}" alt="" /></span>
            <h2>Gabriel Sassone</h2>
            <p>Principal Rendering Engineer, he worked at studios such as The Multiplayer Group, Avalanche Studios, Ready At Dawn, Codemasters, and others.</p>
        </div>
        <div class="4u$ 12u$(medium)">
            <span class="image fit"><img src="{% link images/guests/theodorou.jpg %}" alt="" /></span>
            <h2>Angelo Theodorou</h2>
            <p>Engine and rendering engineer with experience at ARM, NaturalMotion, Frostbite, and The Multiplayer Group. He is the author of nCine, an open-source 2D game framework.</p>
        </div>
    </div>
</section>