<section>
<header>
    <h3>Modification of Schedule</h3>
</header>

<p>The following modifications are applied for the schedule:</p>

<ul>
    <li>October 7 <strong>ADDITIONAL LESSON</strong> N11 12-14 (Game Development), N13 16-18 (Computer Graphics)</li>
    <li>October 14 <strong>ADDITIONAL LESSON</strong> N11 12-14 (Game Development), N13 16-18 (Computer Graphics)</li>
    <li>October 26 <strong><u>NO LESSON</u></strong></li>
    <li>October 27 <strong><u>NO LESSON</u></strong></li>
</ul>
</section>